.markdown {

    color: #E4E4E7;
    line-height: 1.9;
    font-size: 17px;

}

.markdown h1{

    font-size:42px;
    font-weight:800;
    margin-top:42px;
    margin-bottom:20px;

}

.markdown h2{

    font-size:34px;
    font-weight:700;
    margin-top:36px;
    margin-bottom:18px;

}

.markdown h3{

    font-size:28px;
    font-weight:700;
    margin-top:30px;
    margin-bottom:16px;

}

.markdown p{

    margin:18px 0;
    color:#CFCFD6;

}

.markdown strong{

    color:white;

}

.markdown ul{

    margin:18px 0;
    padding-left:28px;

}

.markdown li{

    margin:12px 0;

}

.markdown blockquote{

    margin:30px 0;
    border-left:4px solid #8B7CF7;
    padding:18px 24px;
    background:#181828;
    border-radius:14px;

}

.markdown code{

    background:#1E2030;
    padding:3px 8px;
    border-radius:6px;

}

.markdown pre{

    background:#10131F;
    border:1px solid #322A54;
    padding:28px;
    border-radius:18px;
    overflow:auto;
    margin:26px 0;

}

.markdown img{

    border-radius:20px;
    margin:30px auto;
}