@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

:root{

    --bg:#09090B;
    --surface:#111113;
    --card:#18181B;
    --border:#27272A;

    --primary:#7C5CFC;
    --primary-hover:#8B6EFF;

    --text:#FAFAFA;
    --secondary:#A1A1AA;
    --muted:#71717A;

    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;

}

*{

    font-family:'Inter',sans-serif;

}

body{

    background:var(--bg);
    color:var(--text);

}

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#2F2F36;
    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#494952;

}